body {
    margin: 0%;
    background-color: #181818;
}

body::-webkit-scrollbar {
    display: none;
}

#navbar {
    background-color: black;
    display: flex;
    z-index: 2;
    position: fixed;
    right: 0;
    left: 0;
}

#logo_netflix {
    padding: 15px;
    margin-left: 30px;
}

#home {
    color: white;
}

ul {
    display: flex;
    margin-bottom: 0;
}

ul li {
    margin-top: 5px;
}

.link {
    list-style: none;
    font-family: 'Arial';
    color: #ACACAC;
    margin: 5px 15px 0px;
    padding-bottom: 15px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.link::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #BF0412;
    position: absolute;
    bottom: 0 !important;
    left: 0;
    border-radius: 2px;
    transition: all 0.1s ease-in-out;
    margin: 0;
    padding: 0;
}

.link:hover::before {
    width: 100%;
}

#barra_ricerca {
    margin-left: auto;
    display: flex;
    margin-right: 30px;
}

#sezione_bambini {
    list-style: none;
    font-family: 'Arial';
    color: #ACACAC;
    margin: 5px 15px 0px;
    padding-bottom: 15px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    user-select: none;
}

#sfondo_mobile {
    display: none;
}

#preview_contenitore {
    position: relative;
}

#overlay {
    background: -webkit-linear-gradient(top,#18181800,#181818);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 3px;
}

#description_overlay {
    position: relative;
    left: 5%;
    padding-bottom: 5% !important;
}

#titolo_film_grande {
    color: white;
    font-size: 25px;
    font-family: 'Calibri', sans-serif;
}

#generi_film {
    color: #ACACAC;
    font-family: 'Calibri', sans-serif;
    font-size: 17px;
}

#descrizione {
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 17px;
}

#attori {
    color: #ACACAC;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}

.pulsanti_overlay {
    background-color: #bbbbbb66;
    border: none;
    width: 190px;
    height: 40px;
    color: white;
    border-radius: 3px;
}

.pulsanti_overlay:hover {
    background-color: #bbbbbbb9;
    color: white;
}

.contenitori_serie {
    margin-top: -9%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #181818;
}

.sottotitoli {
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 25px;
}

#top_10 .splide__slide {
    height: 240px !important;
}

.splide__slide img {
    width: 299; 
    height: 168;
}

#arrow_prev {
    background-color: #6b6b6b00;
}

#arrow_next {
    background-color: #6b6b6b00;
}

.splide__slide img:hover {
    cursor:pointer;
}

/*Responsive Tablet*/

@media (max-width: 1110px) {
    #description_overlay {
        top: 20%;
    }

    #description_overlay img {
        display: none !important;
    }
}

/*Responsive Telefoni*/

@media (max-width: 782px) {
    #navbar {
        background-color: transparent;
        transition: background-color 0.4s ease-in-out;
    }

    #description_overlay img {
        width: 100%;
    }

    .menu {
        position: absolute;
        top: 40px;
        width: 100%;
        height: 100vh;
        height: 0vh;
        overflow: hidden;
        background-color: black;
        flex-direction: column;
        text-align: center;
        padding: 0;
        transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .menu-open .menu{
        height: 244px;
    }

    .menu a {
        width: 100%;
        height: 20px;
        padding: 20px 0px;
        border-bottom: solid 1px #999999;
    }

    .link {
        margin: 0;
    }

    .link::before {
        background-color: #18181800;
    }
    
    .icon-hamburger {
        height: 30px;
        width: 30px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: auto;
    }

    #barra_ricerca {
        padding: 0;
    }

    #logo_netflix {
        margin: 0;
    }

    .icon-hamburger span{
        height: 1px;
        width: 30px;
        background-color: white;
        position: relative;
        display: block;
        margin-top: 12px;
    }

    #sfondo_mobile {
        display: initial;
    }

    #attori, #volumeButton, #video_preview, #sezione_bambini, #descrizione br, #arrow_prev, #arrow_next  {
        display: none;
    }

    #description_overlay img {
        display: unset !important;
    }

    #description_overlay {
        position: absolute;
        left: 5%;
        right: 5%;
        text-align: center;
        padding: 30px;
        top: auto;
        bottom: 30px;
    }

    .contenitori_serie {
        margin-top: -5%;
    }
}

/*Responsive Telefoni*/

@media (max-width: 400px) {
    #descrizione {
        display: none;
    }

    .sottotitoli {
        font-size: 20px;
    }

    .img_serie {
        width: 200px; 
        height: 112px;
    }

    .splide__slide {
        height: 120px !important;
    }

    .img_top, .locandina_top {
        height: 140px;
    }

    #top_10 .splide__slide {
        height: 140px !important;
    }
}
